
input, select {
    border: 0;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    padding: .5rem .5rem;
    width: 100%;
    margin: .5rem 0;
}

input:focus, input[required]:valid {
    outline: none;
    border-bottom: 2px solid #034584;
    margin-bottom: 0.4375rem;
}

input.error, select.error, input:not([value=""]):focus:invalid {
    border-bottom: 2px solid #B92D00;
    margin-bottom: 0.4375rem;
}

[type="radio"] {
    width: auto;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: #9e9e9e;
    margin-right: auto;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #9e9e9e;
    border-radius: 50%;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.radio-group {
    margin: .5rem 0;
}

[type="radio"]:checked + label:before {
    border: 2px solid #034584;
}

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: #034584;
    border-radius: 50%;
    -webkit-transition: all .2s;
    transition: all .2s;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: #9e9e9e;
    display: block;
    margin: .5rem 0;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #9e9e9e;
    border-radius: 0.125rem;
    -webkit-transition: all .2s;
    transition: all .2s;
}

[type="checkbox"]:checked + label:before {
    border: 2px solid #034584;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 3px;
    left: 4px;
    color: #034584;
    font-size: 18px;
    line-height: 0.8;
    -webkit-transition: all .2s;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

button {
    background: #034584;
    color: #ffffff;
    border: 0;
    text-transform: uppercase;
    font-size: 0.875rem;
    width: 100%;
    padding: 1rem 0;
    border-radius: .5rem/.25rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    margin: .5rem 0;
    justify-content: center;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.btn-secondary {
    background: #9e9e9e;
}

.button-group {
}

.button-group button {
}

.button-group button:first-child {
    margin-right: .5rem;
}

.button-group button:last-child {
    margin-left: .5rem;
}