:root {
    /*  MAIN  */
    --main-header: #002c54;
    --main-background: #f2f1ed;
    --main-footer: #002c54;

    /*  COMPONENTS  */
    --input-color: #034584
}

html, body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}

.white {
    color: #ffffff;
}

/*
    ----  BODY  ----
*/
.main-container {
    height: 100%;
    background: var(--main-background);

    display: grid;
    grid-template-columns: repeat(6, [col-start] 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
            "hd hd hd hd hd hd"
            "nv nv nv nv nv nv"
            "mn mn mn mn mn mn"
            "ft ft ft ft ft ft";
}

/*
    ----  HEADER  ----
*/
header {
    background-color: var(--main-header);
    color: #ffffff;
    padding: 1rem 1rem;
}
.main-header {
    grid-area: hd;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1.75rem;
}

/*
    ----  NAV  ----
*/
.main-nav {
    grid-area: nv;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.main-nav ul li {
    display: inline;
    margin: 5px;
}

/*
    ----  MAP  ----
*/
.main {
    grid-area: mn;
    padding: 1rem 1.5rem;
}

.map-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.map-container header {

}

.map-container .map {

}

.map-container footer {

}


#parkingMap {
    height: 100%
}

/*
    ----  FOOTER  ----
*/
footer {
    background-color: #002c54;
    color: #ffffff;
    padding: .5rem 1rem;
}

.main-footer {
    grid-area: ft;
}


section {

}


.module {
    background-color: #fff;
    -moz-box-shadow: rgba(0,0,0,0.05) 0px 4px 5px 0px;
    -webkit-box-shadow: rgba(0,0,0,0.05) 0px 4px 5px 0px;
    box-shadow: rgba(0,0,0,0.05) 0px 4px 5px 0px;
}

section header {}

article {}

aside {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: calc(100% - 59px);
    z-index: 1;
}

/*
    ----  DIALOG  ----
*/
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 2px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    display: none;
    z-index:1;
}

dialog h3 {
    font-weight: normal;
    font-size: 1.25rem;
    margin: 0;
}

dialog p {
    color: #757575;
    margin: 1rem 0;
}



.material-icons {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}

.icons {
    height: 50px;
}

.hide {
    display: none;
}

/*
@media (min-width: 750px) {
    header h1 {
        width: 690px;
        text-align: center;
    }

    header a:first-child {
        margin-left: auto;
    }

    header a:last-child {
        margin-right: auto;
    }

}

@media(min-width: 500px) {
    .container {
        max-width: 750px;
        margin: 0 auto;
    }

    #popup_menu, #popup_more {
        width: auto;
        background: #f2f2f2;
        box-shadow: 0 0 5px 0 #000000;
    }

    #popup_menu a:hover, #popup_more a:hover {
        background: #ffffff;
    }

    #popup_more {
        right: 0;
    }
}

@media (max-width: 750px) {
    .popup {
        width: 95%;
    }
}

@media (max-width: 450px) {
    header a span {
        display: none;
    }

    .popup {
        max-width: 95%;
    }
}

 */