html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


header {
    background: #565353;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 1rem;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1.25rem;
    flex: 1 1 20%;
}

section {
    padding: 0 1rem;
}

section header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    min-height: 4rem;
    padding: .5rem 0;
}

section header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1.25rem;
}

#orderForm {

}


button {
    background: #565353;
    color: #ffffff;
    border: 0;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 1rem 0;
    border-radius: .5rem/.25rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    margin: .5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}